= form_tag(bookings_path, method: :get) do
  <div class="wrap">
  <div class="search">
  = text_field_tag(:search_terms, params[:search_terms], class:"searchTerm" , placeholder:"Search your booking here...", required: true)
  <button type="submit" class="searchButton" value="search">
  <i class="fa fa-search"></i>
  </button>
  </div>
  </div>
<div class="booking-body">
<div align="center">

%h1 Listing bookings
-if @bookings.nil?
-elsif @bookings == 7
  = 'There are no booking that you are looking for.'
-else
  %table
    %thead
      %tr
        %th Name
        %th Date
        %th Days
        %th Peoples
        %th Room type
        %th Phone
        %th
        %th
        %th

    %tbody
      - @bookings.each do |booking|
        %tr
          %td= booking.name
          %td= booking.date
          %td= booking.days
          %td= booking.peoples
          %td= booking.room_type
          %td= booking.phone
          %td= link_to 'Show', booking
          %td= link_to 'Edit', edit_booking_path(booking)
          %td= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' }
%br

= link_to 'New Booking', new_booking_path, class:'button button1'

-#= form_tag(bookings_path, method: :get) do
-#  = text_field_tag(:search, params[:search])
-#  = submit_tag

-#= form_tag(bookings_path, method: :get) do
-#  <div class="wrap">
-#  <div class="search">
-#  = text_field_tag(:search, params[:search], class:"searchTerm" , placeholder:"Search your booking here...")
-#  <button type="submit" class="searchButton">
-#  <i class="fa fa-search"></i>
-#  = submit_tag
-#  </button>
-#  </div>
-#  </div>
