<div class="topnav">
  <a href="#home">Home</a>
  <a class="active" href="#about">About</a>
</div>
<div class="content">
    <div class="container">
        <header>
        <h1><u>About</u></h1>
        </header>
        <s1>
        <h2> Team member </h2>
        <div class="groupname">
        กัญญาภรณ์ สร้อยคำพา 5910520054<br>
        วิศววิท ฤทธิศรธนู 5910613214<br>
        โฆษิต สุขบรรเทิง 5910613388<br>
        ธนพล บุญมาก 5910680379
        </div>
        <br>
        <br>
        <h2>Links</h2>
        <a href="https://drive.google.com/file/d/1u6TnvV_R2VMEPe9sHUn399EErXJepg51/view?usp=sharing"><button class="button button1">Proposal</button></a>
        <a href="https://gitlab.com/5910613388/layana"><button class="button button1">Git</button></a>
        <a href="https://www.pivotaltracker.com/n/projects/2406996"><button class="button button1">Pivotal tracker</button></a>
        </s1>
        <s2>
        <h2>User Story</h2>
        <div>
            <img src="1.jpg" width="35%">
            <img src="2.jpg" width="35%">
            <img src="6.jpg"width="35%">
            <img src="5.jpg"width="35%">
            <img src="4.jpg" width="35%">
            <img src="3.jpg" width="35%">
        </div>
        </s2>
    </div>
</div>
