<div class="booking-body">
  <main class="site-main">
    <div class="rs" align="center">
      <br>
      <br>
      <table style=" width: 60%;border-radius: 15%">
        <tr >
          <th  width="250px">
            <h4>พักได้สูงสุด</h4>
          </th>
          <th>
            <h4>ประเภทห้องพัก</h4>
          </th>
        </tr>
        <tr style="border: 0px solid black">
          <td style="border: 0px solid black">
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
          </td>
          <td style="text-align: left">
            <a href="/roomtype/room1">Grand Garden Pavilion King Room</a>
            <img src="/images/king.png" width="40" height="40">
            <br>
            1 คิงไซส์
          </td>
        </tr>
        <tr style="border: 0px solid black">
          <td style="border: 0px solid black">
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
          </td>
          <td style="text-align: left">
            <a href="/roomtype/room2">Grand Garden Pavilion Twin Room</a>
            <img src="/images/double.png" width="40" height="40">
            <br>
            2 เตียงเดี่ยว
          </td>
        </tr>
        <tr >
          <td >
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
          </td>
          <td style="text-align: left">
            <a href="/roomtype/room3">Terrace Suite</a>
            <img src="/images/king.png" width="40" height="40">
            <br>
            1 คิงไซส์
          </td>
        </tr>
        <tr >
          <td >
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
          </td>
          <td style="text-align: left">
            <a href="/roomtype/room4">Ocean Delux Villa</a>
            <img src="/images/king.png" width="40" height="40">
            <br>
            1 คิงไซส์
          </td>
        </tr>
        <tr >
          <td >
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
          </td>
          <td style="text-align: left">
            <a href="/roomtype/room5">Beach Villa</a>
            <img src="/images/king.png" width="40" height="40">
            <br>
            1 คิงไซส์
          </td>
        </tr>
        <tr >
          <td >
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
          </td>
          <td style="text-align: left">
            <a href="/roomtype/room6">La maison</a>
            <img src="/images/king.png" width="40" height="40">
            <br>
            ห้องนอน 1: 1 คิงไซส์<br>
            ห้องนอน 2: 1 คิงไซส์
            <img src="/images/king.png" width="40" height="40">
            <br>
            ห้องนั่งเล่น: 1 เตียงโซฟา<br>
            <img src="/images/sofa.png" width="40" height="40">
            <br>
          </td>
        </tr>
      </table>
      <br>
      <a style="
      display: block;
          text-decoration: none;
          color: white;
          padding: 10px 20px;
          border-radius: 8px;
          background-color: dimgray;
          width: 60px" href="/bookings/index">จองเลย</a></li><br>
    </div>

  </main>
</div>