// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-image: url('/images/home_bg.jpg');
  background-attachment: fixed;
}

.layana{
  position:relative;
  text-align: center;
  color: #ffffff;
  font-size: 100px;
  text-shadow: 5px 5px #333333;
  margin-top: 40px;
  z-index: 999;
}

.booking-body{
  text-align: center;
  background: white;
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
  padding-bottom: 15px;
  margin: 30px;
}

.site-main {
  text-align: center;
  border-radius: 10px;
  align-items: center;
}
