.booking-body{
  text-align: center;
  background: white;
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
  margin: 8%;
  border-radius: 10px;
  min-height: 80%;
}

.pic{
  padding: 8px;
}

.room1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
          "pic pic pic"
          "pic pic pic"
          "pic pic pic"
          "head head head"
          "bod bod bod"
;
  max-width: 80%;
  margin: auto;
}
.room2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto ;
  grid-template-areas:
          "pic pic pic"
          "head head head"
          "bod bod bod"
;
  max-width: 80%;
  margin: auto;
}
.room3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
          "pic pic pic"
          "pic pic pic"
          "pic pic pic"
          "head head head"
          "bod bod bod"
;
  max-width: 80%;
  margin: auto;
}
.room4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
          "pic pic pic"
          "pic pic pic"
          "pic pic pic"
          "head head head"
          "bod bod bod"
;
  max-width: 80%;
  margin: auto;
}
.room5{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
          "pic pic pic"
          "pic pic pic"
          "pic pic pic"
          "head head head"
          "bod bod bod"
;
  max-width: 80%;
  margin: auto;
}
.room6{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
          "pic pic pic"
          "pic pic pic"
          "pic pic pic"
          "head head head"
          "bod bod bod"
;
  max-width: 80%;
  margin: auto;
}