<!DOCTYPE html>
<html>
  <head>
    <title>Layana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= render 'layouts/header' %>

    <% if @home_page %>
      <%=   render 'layouts/header-home' %>
    <% elsif @roomtype_page %>
      <%=  render 'layouts/header-roomtype' %>
    <% elsif @booking_page %>
      <%=  render 'layouts/header-booking' %>
    <% elsif @about_page %>
      <%=  render 'layouts/header-about' %>
    <% else %>
      <%=  render 'layouts/header' %>
    <% end %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= yield %>

  </body>
</html>
